name: Rust Cellular Automata

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  cellular_automata_2d:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: _2D/rust/cellular_automata_2d
      - name: Build
        run: rustup override set nightly && cargo build --manifest-path _2D/rust/cellular_automata_2d/Cargo.toml --verbose
      - name: Run tests
        run: cargo test --manifest-path _2D/rust/cellular_automata_2d/Cargo.toml --verbose

  cellular_automata_1d:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: _2D/rust/cellular_automata_2d
      - name: Build
        run: rustup override set nightly && cargo build --manifest-path _1D/rust/cellular_automata_1d/Cargo.toml --verbose
      - name: Run tests
        run: cargo test --manifest-path _1D/rust/cellular_automata_1d/Cargo.toml --verbose

  particles:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: particles_simulation/rust/particles
      - name: Build
        run: cargo build --manifest-path particles_simulation/rust/particles/Cargo.toml --verbose
      - name: Run tests
        run: cargo test --manifest-path particles_simulation/rust/particles/Cargo.toml --verbose
