name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
      with:
        workspaces: | 
          cellular_automata/_2D/rust/cellular_automata_2d
          cellular_automata/particles/rust/particles
  
    - name: Build cellular_automata_2d 
      run: cargo build --manifest-path _2D/rust/cellular_automata_2d/Cargo.toml --verbose
    - name: Run tests cellular_automata_2d
      run: cargo test --manifest-path _2D/rust/cellular_automata_2d/Cargo.toml --verbose
      
    - name: Build particles 
      run: cargo build --manifest-path particles/rust/particles --verbose
    - name: Run tests particles
      run: cargo test --manifest-path particles/rust/particles --verbose
