#links {
  width: 12em;
  border-right: 1px solid #000;
  padding: 0 0 1em 0;
  margin-bottom: 1em;
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, Lucida, Geneva,
    Helvetica, Arial, sans-serif;
  background-color: #90bade;
  color: #333;
}

#links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

#links li {
  border-bottom: 1px solid #90bade;
  margin: 0;
}

#links li a {
  display: block;
  padding: 5px 5px 5px 0.5em;
  border-left: 10px solid #1958b7;
  border-right: 10px solid #508fc4;
  background-color: #2175bc;
  color: #fff;
  text-decoration: none;
  width: 100%;
}

html > body #links li a {
  width: auto;
}

#links li a:hover {
  border-left: 10px solid #1c64d1;
  border-right: 10px solid #5ba3e0;
  background-color: #2586d7;
  color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}
